spring:
  datasource:
    url: jdbc:mysql://43.134.23.92:3306/seec_erp?allowPublicKeyRetrieval=true&useUnicode=true&characterEncoding=UTF-8&serverTimezone=GMT%2B8&useSSL=false
    username: root
    password: team9root
    driver-class-name: com.mysql.cj.jdbc.Driver
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.nju.edu.erp.model.po
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  typeHandlersPackage: com.nju.edu.erp.enums.handlers
jwt:
  secret: 6e12d69c-af21-4cc2-b32d-3fa949b50106
  expire: 86400000
