<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nju.edu.erp.dao.CollectionDao">
    <resultMap id="CollectionSheetPO" type="com.nju.edu.erp.model.po.CollectionSheetPO">
        <id property="id" column="id"/>
        <result column="customer" property="customer"/>
        <result column="operator" property="operator"/>
        <result column="total_amount" property="totalAmount"/>
        <result column="state" property="state"/>
        <result column="create_time" property="createTime"/>
    </resultMap>
    <insert id="saveCollectionSheetSheet" parameterType="CollectionSheetPO">
        insert into collection_sheet(id, customer, operator, total_amount, state, create_time)
        values (#{id}, #{customer}, #{operator}, #{totalAmount}, #{state}, #{createTime})
    </insert>
    <insert id="saveTransferList" useGeneratedKeys="true" keyProperty="id">
        insert into transfer_list_sheet(id,company_account_id,transfer_amount,collection_sheet_id,remark)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.companyAccountId},#{item.transferAmount},#{item.collectionSheetId},#{item.remark})
        </foreach>
    </insert>
    <update id="updateState">
        update collection_sheet
        set state = #{state}
        where id = #{id}
    </update>
    <select id="findCollectionSheetById" resultMap="CollectionSheetPO">
        select *
        from collection_sheet
        where id = #{id}
    </select>
    <select id="findAllCollectionSheet" resultMap="CollectionSheetPO">
        select *
        from collection_sheet
    </select>
    <select id="findAllCollectionSheetContent" resultType="com.nju.edu.erp.model.po.TransferListSheetPO">
        select *
        from transfer_list_sheet
        where collection_sheet_id = #{collectionSheetId};
    </select>
    <select id="findAllCollectionSheetByState" resultType="com.nju.edu.erp.model.po.CollectionSheetPO">
        select *
        from collection_sheet
        where state = #{state}
    </select>
    <select id="findLatest" resultType="com.nju.edu.erp.model.po.CollectionSheetPO">
        select *
        from collection_sheet
        order by create_time desc
        limit 1
    </select>
    <select id="findAllBasicSheetInfo" resultType="com.nju.edu.erp.model.po.SheetPO">
        select cs.id as id, cs.create_time as date, c.name as client, cs.operator as operator
        from collection_sheet cs
                 left join customer c on cs.customer = c.id
        where cs.create_time between #{beginTime} and #{endTime}
    </select>


</mapper>