<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nju.edu.erp.dao.CompanyAccountDao">
    <resultMap id="CompanyAccountPO" type="com.nju.edu.erp.model.po.CompanyAccountPO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="amount" property="amount"/>
    </resultMap>
    <insert id="createAccount" parameterType="CompanyAccountPO" useGeneratedKeys="true" keyProperty="id">
        insert into company_account(name,amount) values (#{name},#{amount})
    </insert>
    <update id="updateCompanyAccount" parameterType="CompanyAccountPO">
        update company_account
        <set>
            <if test="name != null">name = #{name}</if>
        </set>
        where id = #{id}
    </update>
    <update id="collectionUpdateCompanyAccountAmountById">
        update company_account set amount = amount + #{amount} where id =#{id}
    </update>
    <update id="paymentUpdateCompanyAccountAmountById">
        update company_account set amount = amount - #{amount} where id =#{id}
    </update>
    <delete id="deleteCompanyAccountById">
        delete from company_account where id = #{id}
    </delete>
    <select id="findCompanyAccountByName" resultType="com.nju.edu.erp.model.po.CompanyAccountPO">
        select * from company_account where name = #{name}
    </select>
    <select id="findAllCompanyAccounts" resultType="com.nju.edu.erp.model.po.CompanyAccountPO">
        select * from company_account
    </select>
</mapper>