<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nju.edu.erp.dao.PromotionDao">

  <insert id="createPromotion" parameterType="PromotionPO">
    insert into promotion (id, `promotionStrategy`, customerLevel, discount, coupon, price,beginTime )
    values (#{id}, #{promotionStrategy}, #{customerLevel}, #{discount}, coupon, #{price}, #{beginTime},#{endTime})
  </insert>

  <select id="getPromotionStrategyByTime" resultType="com.nju.edu.erp.model.po.PromotionPO">
    select *
    from promotion
    where (beginTime between #{beginTime} and #{endTime}) and (endTime between #{beginTime} and #{endTime})
  </select>

  <select id="getLatestSheet" resultType="com.nju.edu.erp.model.po.PromotionPO">
    select *
    from promotion
    order by id desc
      limit 0,1;
  </select>
</mapper>
